h5{
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 27px;
  text-align: center;
}

.seccion1 p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  text-align: justify;
}

.foot1 h5{
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.foot1 a{
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

.foot1 p{
    color: white;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.socialNets img{
  margin-left: 5px;
}

.seccionMV p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  text-align: center;
}

.imagenLight img{
  margin-top: 10px;
  margin-right: 10px;
  height: 400px;
  width: 350px;
}

.headerNets img{
  margin-left: 5px;
}

.imgVol img{
  margin-top: 15px;
  margin-bottom: 0px;
  height: 220px;
  width: 500px;
}

.textVol p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  text-align: justify;;
}
