h5{
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 27px;
  text-align: center;
}

.seccion1 p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  text-align: justify;
}

.foot1 h5{
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.foot1 a{
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

.foot1 p{
    color: white;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.socialNets img{
  margin-left: 5px;
}

.seccionMV p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  text-align: center;
}

.imagenLight img{
  margin-top: 10px;
  margin-right: 10px;
  height: 400px;
  width: 350px;
}

.imagenDonate img{
  margin-top: 10px;
  margin-right: 10px;
  padding-left: 150px;
}

.headerNets img{
  margin-left: 5px;
}

.imgVol img{
  margin-top: 15px;
  margin-bottom: 0px;
  height: 220px;
  width: 500px;
}

.textVol p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  text-align: justify;;
}

.seccionD p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    text-align: justify;;
}

.cartasDogs p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    text-align: justify;
}

.cartaLogo img{
  margin-top: 0px;
  margin-left: 0px;
  border-color: black;
}

.adoptionText p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    text-align: justify;
}
.cartasVets button{
  height: 30px;
  line-height: 30px;

}

.news h5{
  text-align: left;
  font-family: 'Fjalla One', sans-serif;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
	z-index: -1;
  min-width: 100%;
  min-height: 100%;
}

.volunt p{

      font-family: 'Source Sans Pro', sans-serif;
      font-size: 20px;
      text-align: right;;
      margin-top: 4px;
      margin-left: 15px;
      padding-left: 70px;
}