<!DOCTYPE html>
<html lang "en">
<head>
	<meta charset="UTF-8">
	<title>Paw Finder</title>
	<link rel="icon" type="image/gif" href="views/images/icono.gif">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab|Source+Sans+Pro' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  <link rel = "stylesheet" href = "views/css/materialize.min.css">
	<link rel = "stylesheet" href = "views/css/materialize.css">
	<link rel = "stylesheet" href = "views/css/home.css">
	<script src="/jquery/dist/jquery.js"></script>

    <script src="/angular/angular.js"></script>

    <script src="/angular-ui-router/release/angular-ui-router.js"></script>

    <script src="/ngstorage/ngStorage.js"></script>

    <link rel="stylesheet" href="styles/materialize/css/materialize.css">

    <script src="app.js"></script>

    <script src="/jquery/dist/jquery.js"></script>

    <script src="/angular/angular.js"></script>

    <script src="/angular-ui-router/release/angular-ui-router.js"></script>

    <script src="/ngstorage/ngStorage.js"></script>


    <script src="scripts/services/petService.js"></script>
    <script src="scripts/controllers/petController.js"></script>
    <script src="scripts/services/vetService.js"></script>
    <script src="scripts/controllers/vetController.js"></script>
    <script src="scripts/services/userService.js"></script>
    <script src="scripts/controllers/userController.js"></script>



</head>

<body ng-app="AngularScaffold" style="padding-top:10px;">

	<header>

		<div class="row" style="margin-bottom:0px;">
			<div class="col s9">
				<img clase = "responsive-img" src="views/images/poster.gif" height="150px" width="1345px"> <!-- random image -->
			</div>
			<div class="col s3" style="padding-left:170px; padding-top:50px; ">
					<button height="40px" width="100px"type="submit" class="btn waves-effect waves-light black" ng-click="logout()" ng-show="$sessionStorage.currentUser">Log out</button>
			</div>
		</div>

		<ul class="tab" style="margin-left:10px;">
		  <li><a class="waves-effect waves-light btn" style="margin-left:0px; height:40px; padding-top:2px; width:262px; margin-right:9px;" href="#" class="tablinks" onclick="openCity(event, 'tab1')">Agregar Mascota</a></li>
		  <li><a class="waves-effect waves-light btn" style="margin-left:0px; height:40px; padding-top:2px; width:262px; margin-right:8px;" href="#" class="tablinks" onclick="openCity(event, 'tab2')">Mascotas</a></li>
			<li><a class="waves-effect waves-light btn" style="margin-left:0px; height:40px; padding-top:2px; width:262px; margin-right:9px;" href="#" class="tablinks" onclick="openCity(event, 'tab3')">Agregar Veterinaria</a></li>
			<li><a class="waves-effect waves-light btn" style="margin-left:0px; height:40px; padding-top:2px; width:262px; margin-right:9px;" href="#" class="tablinks" onclick="openCity(event, 'tab4')">Veterinarias</a></li>
			<li><a class="waves-effect waves-light btn" style="margin-left:0px; height:40px; padding-top:2px; width:262px; margin-right:8px;" href="#" class="tablinks" onclick="openCity(event, 'tab5')">Agregar Usuario</a></li>
		</ul>

		<div ng-controller = "petController" id="tab1" class="tabcontent" style="margin-top:30px;">
			<div class="row" style="padding-left:140px; padding-right:100px; padding-top:20px;">
			        <form class="col s12">
			          <div class="row" style="margin-bottom:0px;">
			          <div class="col s8">
			            <div class="row">
			              <div class="input-field col s6">
			                <i class="material-icons prefix ">pets</i>
			                <input ng-model="pet.name" id="icon_prefix " type="text" class="validate">
			                <label for="icon_prefix">Nombre</label>
			              </div>
			              <div class="input-field col s3">
			                <select ng-model="gender">
			                  <option value="Macho">Macho</option>
			                  <option value="Hembra">Hembra</option>
			                </select>
			                <label> Género</label>
			              </div>
			              <div class="input-field col s3">
			                <input ng-model="pet.age" id="icon_prefix " type="text" class="validate">
			                <label for="icon_prefix">Edad</label>
			              </div>
			            </div>
			            <div class="row">
			            <div class="input-field col s12" style="margin-top:0px;">
			                <i class="material-icons prefix ">favorite</i>
			                <input ng-model="pet.description" id="icon_prefix " type="text" class="validate">
			                <label for="icon_prefix">Descripción</label>
			              </div>
			            </div>
			            <form action="#">
			                <div class="file-field input-field" style="padding-left:15px; padding-right:10px;">
			                  <div class="btn">
			                    <span>Foto</span>
			                    <input ng-model="pet.img" type="file" multiple>
			                  </div>
			                  <div class="file-path-wrapper">
			                    <input class="file-path validate" type="text" placeholder="Upload one or more files">
			                  </div>
			                </div>
			              </form>
			            <div class="row" style="margin-top:30px; margin-left:43px;">
			              <div class="col s6 boton">
			                <a class="waves-effect waves-light btn yellow" style="margin-left:0px; height:40px; padding-top:2px; width:305px;" type="submit" name="action" ng-click="PostPet()" onclick="showToast2('Mascota Agregada', 3000)" >Aceptar</a>
			              </div>
			              <div class="col s6 boton">
			                <a class="waves-effect waves-light btn red" style="margin-left:0px; height:40px; padding-top:2px; width:307px;">Cancelar</a>
			              </div>
			            </div>
			          </div>
			              <div class="col s3">
			                <img clase = "responsive-img" src="views/images/addDog.png" height="300" >
			              </div>
			            </div>
			          </div>
		</div>

		<div id="tab2" class="tabcontent">
				      <table ng-controller = "petController">
        <thead>
          <tr>
              <th data-field="id">Nombre</th>
              <th data-field="name">Genero</th>
              <th data-field="price">Edad</th>
          </tr>
        </thead>

        <tbody ng-repeat="pet in pets" ng-petController="petController">
          <tr>
            <td>{{pet.name}}</td>
            <td>{{pet.gender}}</td>
            <td>{{pet.age}}</td>
						<td>
							<a class="waves-effect waves-light btn modal-trigger" href="#modal1" width="150px">Modificar</a><td>
						  <a class="btn red" onclick="showToast2('Mascota Eliminada', 3000)" ng-click=llenarUpdatePet()>Eliminar</a>
						</td>
						</div>
          </tr>
				</tbody>
			</table>
					<!-- Modificar-->
					<div id="modal1" class="modal">
						<div class="modal-content">
							<h4>Modificar Mascota</h4>
							<div class="row" style="padding-left:0px; padding-right:0px; padding-top:20px;">
										 <form class="col s12">
											 <div class="row" style="margin-bottom:0px;">
											 <div class="col s12">
												 <div class="row">
													 <div class="input-field col s6">
														 <i class="material-icons prefix ">pets</i>
														 <input  id="tfNombre" type="text" class="validate">
														 <label for="icon_prefix">Nombre</label>
													 </div>
													 <div class="input-field col s3">
														 <select>
															 <option value="1">Macho</option>
															 <option value="2">Hembra</option>
														 </select>
														 <label> Género</label>
													 </div>
													 <div class="input-field col s3">
														 <input id="tfAge" type="text" class="validate">
														 <label for="icon_prefix">Edad</label>
													 </div>
												 </div>
												 <div class="row">
												 <div class="input-field col s12" style="margin-top:0px;">
														 <i class="material-icons prefix ">favorite</i>
														 <input id="description" type="text" class="validate">
														 <label for="icon_prefix">Descripción</label>
													 </div>
												 </div>
												 <div class="row" style="margin-top:30px; margin-left:43px;">
													 <div class="col s6 boton">
														 <a class="waves-effect waves-light btn yellow" style="margin-left:0px; height:40px; padding-top:2px; width:290px;" ng-click="updatePet()">Aceptar</a>
													 </div>
													 <div class="col s6 boton">
														 <a class="waves-effect waves-light btn red" style="margin-left:0px; height:40px; padding-top:2px; width:290px;" onclick="cerrarModal1()">Cancelar</a>
													 </div>
												 </div>
											 </div>
									</div>
								</div>
							</div>
						</div>
		</div>

		<div ng-controller = "vetController" id="tab3" class="tabcontent" style="margin-top:30px;">
			<div class="row" style="padding-left:140px; padding-right:100px; padding-top:20px;">
			<form class="col s12">
				<div class="row" style="margin-bottom:0px;">
					<div class="col s4" style="padding-left:40px;">
						<img clase = "responsive-img" src="views/images/addVet.gif" height="300" >
					</div>
					<div class="col s8">
						<div class="row">
							<div class="input-field col s6">
								<i class="material-icons prefix ">local_hospital</i>
								<input ng-model="vet.name" id="icon_prefix " type="text" class="validate">
								<label for="icon_prefix">Nombre</label>
							</div>
								<div class="input-field col s6">
									<i class="material-icons prefix ">phone</i>
									<input ng-model="vet.tel_number" id="icon_prefix " type="text" class="validate">
									<label for="icon_prefix">Teléfono</label>
								</div>
								</div>
								<div class="row">
									<div class="input-field col s12" style="margin-top:0px;">
											<i class="material-icons prefix ">mail</i>
											<input ng-model="vet.email" id="icon_prefix " type="text" class="validate">
											<label for="icon_prefix">Correo Electrónico</label>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12" style="margin-top:0px;">
											<i class="material-icons prefix ">navigation</i>
											<input ng-model="vet.address" id="icon_prefix " type="text" class="validate">
											<label for="icon_prefix">Dirección</label>
									</div>
								</div>
								<div class="row" style="margin-top:30px; margin-left:43px;">
									<div class="col s6 boton">
										<a ng-click="PostVet()" class="waves-effect waves-light btn yellow" style="margin-left:0px; height:40px; padding-top:2px; width:305px;" onclick="showToast2('Veterinaria Agregada', 3000)">Aceptar</a>
									</div>
									<div class="col s6 boton">
										<a class="waves-effect waves-light btn red" style="margin-left:0px; height:40px; padding-top:2px; width:307px;">Cancelar</a>
									</div>
								</div>
								</div>
							</div>
						</div>
				</div>

		<div id="tab4" class="tabcontent">
				      <table ng-controller = "vetController">
        <thead>
          <tr>
              <th data-field="id">Nombre</th>
              <th data-field="name">Teléfono</th>
              <th data-field="price">Correo</th>
              <th data-field="Direccion">Direccion</th>
          </tr>
        </thead>

        <tbody ng-repeat="vet in vets">
          <tr>
            <td>{{vet.name}}</td>
            <td>{{vet.tel_number}}</td>
            <td>{{vet.email}}</td>
            <td>{{vet.address}}</td>
          </tr>
        </tbody>
      </table>
		</div>

				<div ng-controller="userController" id="tab5" class="tabcontent" style="margin-top:30px;">
					<div class="row" style="padding-left:140px; padding-right:100px; padding-top:20px;">
	        <form class="col s12">
	          <div class="row" style="margin-bottom:0px;">
	            <div class="col s4" style="padding-left:40px;">
	              <img clase = "responsive-img" src="views/images/addUser.gif" height="300" >
	            </div>
	          <div class="col s8">
	            <div class="row" style="margin-bottom:5px;">
	              <div class="input-field col s3">
	                <i class="material-icons prefix ">account_circle</i>
	                <input ng-model="volunteer.name" id="icon_prefix " type="text" class="validate">
	                <label for="icon_prefix">Nombre</label>
	              </div>
	              <div class="input-field col s3">
	                <input ng-model="volunteer.last_name" id="icon_prefix " type="text" class="validate">
	                <label for="icon_prefix">Apellido</label>
	              </div>

	                <div class="input-field col s6">
	                  <i class="material-icons prefix ">phone</i>
	                  <input ng-model="volunteer.tel_number" id="icon_prefix " type="text" class="validate">
	                  <label for="icon_prefix">Teléfono</label>
	                </div>
	                </div>
									<div class="row" style="margin-bottom:5px;">
									<div class="input-field col s12" style="margin-top:0px;">
											<i class="material-icons prefix ">mail</i>
											<input ng-model="volunteer.email" id="icon_prefix " type="text" class="validate">
											<label for="icon_prefix">Correo Electrónico</label>
									</div>
								</div>
								<div class="row" style="margin-bottom:5px;">
	                  <div class="input-field col s12" style="margin-top:0px;">
	                      <i class="material-icons prefix ">grade</i>
	                      <input ng-model="user.username" id="icon_prefix " type="text" class="validate">
	                      <label for="icon_prefix">Usuario</label>
	                  </div>
	                </div>
									<div class="row" style="margin-bottom:5px;">
	                  <div class="input-field col s12" style="margin-top:0px;">
	                      <i class="material-icons prefix ">vpn_key</i>
	                      <input ng-model="user.password" id="icon_prefix " type="text" class="validate">
	                      <label for="icon_prefix">Contraseña</label>
	                  </div>
	                </div>
	                <div class="row" style="margin-top:30px; margin-left:43px;">
	                  <div class="col s6 boton">
	                    <a ng-click="register()" class="waves-effect waves-light btn yellow" style="margin-left:0px; height:40px; padding-top:2px; width:305px;" onclick="showToast2('Usuario agregado', 3000)">Aceptar</a>
	                  </div>
	                  <div class="col s6 boton">
	                    <a class="waves-effect waves-light btn red" style="margin-left:0px; height:40px; padding-top:2px; width:307px;">Cancelar</a>
	                  </div>
	                </div>
	              </div>
	            </div>
				</div>


          </div>
      </div>
    </div>
  </form>

  <script src = "views/js/jquery-1.12.4.min.js"></script>
  <script src = "views/js/materialize.min.js"></script>
  <script>
    $(document).ready(function(){
          $(".button-collapse").sideNav();
          $('select').material_select();
    });
  </script>

	<script>
		function openCity(evt, cityName) {
		    var i, tabcontent, tablinks;
		    tabcontent = document.getElementsByClassName("tabcontent");
		    for (i = 0; i < tabcontent.length; i++) {
		        tabcontent[i].style.display = "none";
		    }
		    tablinks = document.getElementsByClassName("tablinks");
		    for (i = 0; i < tablinks.length; i++) {
		        tablinks[i].className = tablinks[i].className.replace(" active", "");
		    }
		    document.getElementById(cityName).style.display = "block";
		    evt.currentTarget.className += " active";
		}
		$(document).ready(function() {
		    $('.link:first').addClass('active');
				$('.modal-trigger').leanModal();
		});
		function showToast2(message, duration){
				Materialize.toast(message, duration, 'rounded');
		 }
</script>


</body>
</html>
