<!DOCTYPE html>
<html lang "en">
<head>
	<meta charset="UTF-8">
	<title>Paw Finder</title>
	<link rel="icon" type="image/gif" href="views/images/icono.gif">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab|Source+Sans+Pro' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  <link rel = "stylesheet" href = "views/css/materialize.min.css">
	<link rel = "stylesheet" href = "views/css/materialize.css">
	<link rel = "stylesheet" href = "views/css/home.css">

	<script src="/jquery/dist/jquery.js"></script>

    <script src="/angular/angular.js"></script>

    <script src="/angular-ui-router/release/angular-ui-router.js"></script>

    <script src="/ngstorage/ngStorage.js"></script>

    <link rel="stylesheet" href="styles/materialize/css/materialize.css">

    <script src="app.js"></script>

    <script src="/jquery/dist/jquery.js"></script>

    <script src="/angular/angular.js"></script>

    <script src="/angular-ui-router/release/angular-ui-router.js"></script>

    <script src="/ngstorage/ngStorage.js"></script>


    <script src="scripts/services/authService.js"></script>
    <script src="scripts/controllers/AdminController.js"></script>



</head>
<div class="fixed-action-btn" style="top: 40px; right: 40px;">
		<a href="index.html"class="btn-floating btn-large black">
			<i class="large material-icons" data-position="left" data-delay="50" data-tooltip="Volver a página inicial">
				<img class = "responsive-img" src="views/images/arrow.gif" height="40px" width=40px></i>
		</a>
</div>

<body ng-app="AngularScaffold" ng-controller = "AdminController">
	<div id="bg">
  	<img src="views/images/login.gif" alt="">
	</div>
	<div class="col m6" style="margin-top:350px; margin-left: 450px; margin-right: 390px;">
		<div class="card grey darken-1" height = "300">
			<div class="card-content white-text" style="padding-bottom:0px; padding-top:10px;">
				<div class = "row cartaLogo">
					<div class="col s12" style="padding-left:10px;">
						<h5>Iniciar sesión</h5>
						<hr style="margin-bottom:10px;">
						<div class="row" style="margin-bottom:0px;">
							<div class="col s4" style="padding-top:15px; padding-right:0px;">
								<img src="views/images/log.gif" height="100px">
							</div>
							<div class="col s8" style="padding-top:15px; padding-left:15px; padding-top:4px;">
								<div class="input-field" style="margin-top:0px;">
									<input id="username" type="text" ng-model="user.username" ng-show="!$sessionStorage.currentUser" class="validate">
									<label for="username">Usuario</label>
								</div>
								<div class="input-field" style="margin-top:0px;">
									<input id="password" type="password" ng-model="user.password" ng-show="!$sessionStorage.currentUser" class="validate">
									<label for="password">Contraseña</label>
								</div>
							</div>
							<div class="row">
								<a class="waves-effect waves-light btn" onclick="showToast2('Inicio de sesión', 3000)" type="submit" name="action" ng-click="login(user)" style="left: 168px;padding-left:100px; padding-right:110px; width:284px;">Aceptar</a>
							</div>

					</div>
				</div>
			</div>
		</div>
	 </div>
	</div>
</div>

<script src = "views/js/jquery-1.12.4.min.js"></script>
<script src = "views/js/materialize.min.js"></script>
<script>
	$(document).ready(function(){
				$(".button-collapse").sideNav();
				$('.modal-trigger').leanModal();
	});

	function showToast2(message, duration){
			Materialize.toast(message, duration, 'rounded');
	 }
</script>

</body>
</html>
